/* App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  text-align: center;
  margin: 20px;
}

/* Media query for narrow screens */
@media (max-width: 600px) {
  #uploadBtn {
    width: 45px;
    height: 60px;
  }
  #UploadBtn-span{
    display: none;
  }
  #upload-plus {
    display: flex;
    position:absolute;
    transform: translateY(50%);
  }
  #file-name{
    padding-right: 2%;
  }
  #fileInput {
    width: 10%;
  } 
  #ask-question-div{
    position: fixed;
    overflow-y: auto;
    top: 12%;
    left: 1%;
    right: 1%;
    bottom: 5%;
    max-height: 70%;
    /* background-color: #f7f7f7; */
  }
}

#uploadBtn {
  display: flex;
  position:fixed;
  top: 3%;
  right:4%;
  height: 7%;
  padding-top: 0.8%;
  padding-left: 3%;
  }
  
#upload-plus {
  position:relative;
  right: 20%;
  top: -6%;
  width: 20px;
}

button {
  background-color: white; 
  color: black; 
  padding: 10px 20px; 
  border: solid; 
  border-width: 0.1rem;
  border-radius: 0.8rem; 
  font-size: 16px; 
  cursor: pointer; 
}

#file-name{
  color: #43b045;
  position: fixed;
  padding-right: 1%;
  top: 3%;
  right: 16%;
}

#fileInput {
  display: flex;
  position: relative;
  left: 8%;
  background-color: white;

  color: black;
  padding: 20px;
  margin-bottom: 20px; 
  border: solid;
  border-width: 0.1rem;
  border-radius: 0.8rem;
  font-size: 16px;
  width: 75%;
  min-width: 30px;
} 

.navi-bar{
  position: fixed;
  background-color:whitesmoke;
  top: -3.5%;
  left: -2%;
  width: 100.5%;
  max-width: 150%;
  height: 13%;
  display: flex;

}

#Ai-img {
  position: fixed;
  left: 3%;
  top: 3%;
  width: 120px;
  height: 45px; 
}

.PopUp {
  position: relative;
  top: 5%;
  left: 95%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1000;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

textarea {
  position: relative;
  left: 7.5%;
  bottom: 1%;
  top: 88%;
  border: solid;
  border-color: #f0f0f0;
  border-radius: 0.5rem;
  margin-bottom: 10px;
  padding-left: 1%;
  padding-top: 1rem;
}

#text-box{
  position: fixed;
  width: 85%;
  height: 5%;
  max-width: 85%;
  max-height: 5%;
  min-width: 85%;
  min-height: 5%;
  background-color: #f7f7f7;
}

#text-box::placeholder{
  text-align: left;
  padding-left: 1rem;
  color: #d4d4d4 ;

}

.ask-question-button {
  position: fixed;
  right: 8%;
  bottom: 6%;
  height: 1.3rem;
  width: 1.3rem;
  border: none;
  background-color: #f7f7f7;

}

#user-img{
  border-radius: 80%;
  margin-right: 1%;
  margin-left: 0.5%;
  display: flex;
  width: 35px;
  height: 35px; 
}
#bot-img{
  display: flex;
  padding-right: 1%;
  width: 45px;
  height: 45px; 
}
.user-info, .bot-info {
  display: flex;
}

.question-container{
  justify-content: space-between;
  margin-bottom: 10px;
}

#question-answer{
  margin: 0;
  padding-left: 4%;
  text-align: left;
  font-family: "Roboto Mono", monospace;
}
#ask-question-div{
  position: fixed;
  overflow-y: auto;
  top: 12%;
  left: 3%;
  right: 0%;
  bottom: 5%;
  max-height: 70%;
}

/* Define the styles for the scrollbar */
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 8px; 
}

::-webkit-scrollbar-corner {
  background: #e9d7d7; 
}

::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3; 
}
